@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");
:root {
  --purple: #814096;
  --pink: #f83292;
  --gradient: linear-gradient(90deg, var(--purple), var(--pink));
}
body {
  height: 200vh;
  background-color: #f9f9f9;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
  text-transform: capitalize;
}
/* Start container */
.container {
  padding: 0 40px;
  margin: 0 auto;
}
/* @media (min-width: 768px) {
  .container {
    width: 720px;
  }
} */
@media (min-width: 992px) {
  .container {
    width: 950px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End container */

/* Start Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 1rem 2rem rgb(0 0 0 / 10%);
  width: 100%;
  padding: 26px 80px;
  position: fixed;
  z-index: 999;
}
@media (max-width: 820px) {
  nav {
    padding: 25px 40px;
  }
}
nav .logo {
  color: var(--pink);
  font-size: 20px;
}
nav .icon {
  font-size: 24px;
  cursor: pointer;
  display: none;
  color: var(--purple);
}
@media (max-width: 820px) {
  nav .icon {
    display: block;
  }
}

nav .logo span {
  color: var(--purple);
}
nav div ul {
  display: flex;
}
@media (max-width: 820px) {
  nav div ul {
    display: none;
  }
}
nav div ul li {
  margin-left: 20px;
}
nav div ul li a {
  color: var(--purple);
  font-size: 17.5px;
}
nav div ul li a:hover {
  color: var(--pink);
}
/* End Navbar */

/* Start Landing Page */
header {
  background-color: #fff;
  background-image: url(../images/home-bg-img.png);
  background-size: cover;
  background-position: center;
  padding-top: 120px;
  position: relative;
  right: 0;
  padding-bottom: 20px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 820px) {
  header .container {
    flex-direction: column-reverse !important;
  }
}
header .container div {
  flex-basis: 50%;
}
header .container div h1 {
  font-size: 50px;
  color: #333;
  line-height: 1.5;
}
@media (max-width: 991px) {
  header .container div h1 {
    font-size: 35px;
  }
}
@media (max-width: 820px) {
  header .container div h1 {
    font-size: 30px;
  }
}
header .container div h1 span {
  color: var(--pink);
}
header .container div p {
  color: #666;
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 20px;
}
header .container .img img {
  animation: float 3s linear infinite;
}
@keyframes float {
  0%,
  100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-3.5rem);
  }
}
header .container div img {
  width: 90%;
}
/* End Landing Page */

/* Start features */
.features {
  padding: 30px 0;
}

.features .row .col h3 {
  color: #333;
  margin: 10px 0 15px;
}
.features .row .col p {
  color: #666;
  font-size: 13px;
  line-height: 1.5;
  padding: 10px 0px;
}
/* End features */

/* Start about */
.about {
  padding: 60px 0;
  background-color: #fff;
  background-image: url(../images/about-bg.png);
  background-position: center;
}
@media (max-width: 991px) {
  .about {
    background-image: none;
  }
}
.about .row div img {
  width: 100%;
}
.about .row div {
  flex-basis: 47%;
  margin: 0 13px;
  text-align: left;
}
@media (max-width: 991px) {
  .about .row div {
    flex-basis: 100%;
  }
}
@media (max-width: 820px) {
  .about .row {
    flex-direction: column;
  }
}
.about .row div h1 {
  line-height: 1.5;
  color: #666;
}
@media (max-width: 820px) {
  .about .row div h1 {
    font-size: 24px;
  }
}
@media (max-width: 500px) {
  .about .row div h1 {
    font-size: 14px;
  }
}
.about .row div p {
  margin: 10px 0 20px;
  color: #666;
  line-height: 1.5;
  font-size: 14px;
}
.about .row div button {
  margin-left: 10px;
}
@media (max-width: 524px) {
  .about .row div button {
    width: 100%;
    margin: 10px 0;
    display: block;
  }
}
.about .row div button i {
  margin-right: 10px;
}
/* End about */

/* Start subscribe */
.subscribe {
  text-align: center;
  color: #fff;
  background-image: url(../images/subscribe-bg.png);
  background-size: cover;
  background-position: center;
  padding: 50px 10px;
}
.subscribe h1 {
  font-size: 30px;
}
.subscribe p {
  max-width: 700px;
  margin: 0 auto 20px;
}
@media (max-width: 767px) {
  .subscribe h1 {
    font-size: 20px;
  }
  .subscribe p {
    font-size: 15px;
  }
}
.subscribe form {
  max-width: 700px;
  margin: auto;
  border: 2px solid #fff;
  border-radius: 50px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.subscribe form input[type="email"] {
  padding: 0 10px;
  background: none;
  color: #fff;
  max-width: 65%;
}
.subscribe form input[type="submit"] {
  max-width: 35%;
  padding: 12px 40px;
  cursor: pointer;
  border-radius: 50px;
  background: #fff;
}
@media (max-width: 767px) {
  .subscribe form input[type="submit"] {
    padding: 12px 5px;
  }
}
.subscribe form input[type="submit"]:hover {
  color: var(--pink);
}
/* End subscribe */

/* Start review */
.review .row .col {
  position: relative;
}
.review .row .col img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.review .row .col .iocn {
  position: absolute;
  top: 10px;
  font-size: 60px;
  opacity: 0.3;
  margin-left: 24px;
  color: var(--pink);
}
@media (max-width: 350px) {
  .review .row .col .iocn {
    font-size: 30px;
  }
}
.review .row .col h3 {
  margin: 10px 0 15px;
}
.review .row .col div {
  margin-bottom: 20px;
}
.review .row .col div i {
  color: var(--purple);
}
.review .row .col p {
  color: #666;
  font-size: 14px;
  line-height: 1.3;
}
/* End review */

/* Start pricing */
.pricing .row .col.active {
  border: 2px solid var(--pink);
}
.pricing .row .col:hover {
  border: 2px solid var(--pink);
}
.pricing .row .col h2 {
  color: var(--purple);
}
.pricing .row .col h1 {
  color: var(--pink);
}
@media (max-width: 340px) {
  .pricing .row .col h1 {
    font-size: 20px;
  }
}
.pricing .row .col h1 span {
  font-weight: 300;
}
.pricing .row .col ul {
  margin-bottom: 20px;
}
.pricing .row .col ul li {
  line-height: 2;
}
.pricing .row .col ul li i[class="fas fa-check"] {
  color: lightgreen;
}
.pricing .row .col ul li i[class="fas fa-times"] {
  color: tomato;
}
/* End pricing */

/* Start contact */
.contact {
  margin-top: 50px;
}
.contact .heading {
  text-align: left;
  margin-left: 10px;
  padding: 0;
}
.contact .d-flex {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .contact .d-flex {
    flex-direction: column;
  }
}
.contact .d-flex div {
  flex-basis: 45%;
  margin: 0 20px;
}
@media (max-width: 767px) {
  .contact .d-flex div {
    flex-basis: 100%;
    width: 100%;
    margin: 20px 0;
  }
}
.contact .d-flex div img {
  width: 100%;
}
.contact .d-flex form {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 6px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
  padding: 10px 20px;
}
@media (max-width: 351px) {
  .contact .d-flex form h1 {
    font-size: 20px;
  }
}
.contact .d-flex form input,
.contact .d-flex form textarea {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: none;
  margin: 20px 10px;
  padding: 10px 0;
}
.contact .d-flex form textarea {
  resize: none;
}
.contact .d-flex form button {
  width: fit-content;
}
/* End contact */

/* Start Footer */
footer {
  margin-top: 50px;
  padding: 50px 20px;
  background-image: url(../images/footer-bg.png);
  background-position: center;
  background-size: cover;
  /* height: 60vh; */
}
footer .d-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
footer .d-flex .basis {
  flex-basis: 20%;
  margin: 0 20px;
}
@media (max-width: 991px) {
  footer .d-flex .basis {
    flex-basis: 40%;
  }
}
@media (max-width: 600px) {
  footer .d-flex .basis {
    flex-basis: 100%;
  }
}
footer .d-flex h2 {
  color: #fff;
  text-decoration: underline;
  text-underline-offset: 10px;
  padding: 10px 0;
  margin: 10px 0;
}
footer .d-flex .basis p {
  color: #eee;
  line-height: 1.6;
  font-weight: 300;
}
footer .d-flex ul li {
  margin: 14px 0;
  color: #eee;
}
footer .d-flex ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}
footer .d-flex .info {
  display: flex;
  margin: 10px 0;
}
footer .d-flex .info i {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
  line-height: 44px;
  text-align: center;
  color: var(--pink);
}
footer .d-flex .info div span {
  margin-left: 10px;
  margin-top: 10px;
  font-size: 13px;
  color: #eee;
  display: block;
}
footer .copyright {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #fff5;
  font-size: 20px;
  color: #fff;
  text-align: center;
}
@media (max-width: 500px) {
  footer .copyright {
    font-size: 14px;
  }
}
/* End Footer */

/* Start Component */

.btn {
  display: inline-block;
  background: var(--gradient);
  color: #fff;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
  padding: 12px 38px;
  border-radius: 50px;
  transition: 0.5s;
}
@media (max-width: 350px) {
  .btn {
    padding: 10px;
  }
}
.btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.heading {
  text-align: center;
  background: var(--gradient);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  padding: 60px 0 20px;
}
@media (max-width: 350px) {
  .heading {
    font-size: 20px;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media (max-width: 991px) {
  .row {
    align-items: normal;
  }
}
.row .col {
  width: 30.333%;
  background-color: #fff;
  padding: 30px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
}
@media (max-width: 991px) {
  .row .col-md {
    flex-basis: 46.8%;
  }
  .row .col-smx {
    flex-basis: 100%;
  }
}
@media (max-width: 767px) {
  .row .col-sm {
    flex-basis: 100%;
  }
}
/* End Component */
